# ----------------------------------------------------------
# ~/Codes/dotfiles/.gitignore
# ----------------------------------------------------------

# private configuration files
**/private*
dropbox_uploader

# email
alpine/
**/email.conf

# custom spellcheck dictionaries
aspell/

# GPG
gnupg/*
!gnupg/agent
!gnupg/gpg.conf
!gnupg/gpg-agent.conf

# assorted crap
local/
misc/

# SSH
ssh/*
!ssh/agent
!ssh/config_skel

# http://ljcharm.sourceforge.net/
charmrc

# http://maebert.github.io/jrnl/
jrnl_config

# http://www.floodgap.com/software/ttytter/
ttytter*



### OSX ###
.DS_Store
.AppleDouble
.LSOverride
.stfolder

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
